<!-- 注册界面显示 -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
        <%= title %>
    </title>
    <link href="/stylesheets/login.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/bootstrap-checkbox.css">
</head>

<body class="bg1">
    <!-- 登录界面 -->
    <div class="login">
        <div class="log">
            <!-- 左侧欢迎界面 -->
            <div class="leftarea">
                <div class="welcomepage">
                    <div class="logo">
                        <a href="https://www.pinterest.com/">
                            <img src="/images/log2.png" width="130" height="130">
                        </a>
                    </div>
                    <div class="welcometext">
                        <strong>欢迎</strong>
                        <h3>Welcome</h3>
                    </div>
                </div>
            </div>
            <!-- 右侧form表单 -->
            <div class="rightarea">
                <div class="infor">
                    <p>登录Login/注册SignUp</p>
                </div>
                <div class="inputinner" id="container">
                    <!--  -->
               <%- message %>
                                    <form class="form-horizontal" method="post">
                                        <div class="form-group">
                                            <!-- 用户名 -->
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="inputEmail3" placeholder="用户名/Username" name="username" required>
                                                <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                            </div>
                                        </div>
                                        <!-- 密码 -->
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                <input type="password" class="form-control password" id="inputPassword3" placeholder="密码/Password"  name="userpwd" required >
                                                <div class="input-group-addon"><i class="fa fa-key"></i></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                <input type="password" class="form-control password1" id="inputPassword4" placeholder="确认密码/Password Confirm" name="userpwd1" required>
                                                <div class="input-group-addon">
                                                    <i class="fa fa-key"></i></div>
                                            </div>
                                        </div>
                                       <!--  <div id="result2">
                                            <span class="label label-danger error1">error</span>
                                            <span class="label label-warning warning1">Warning</span>
                                            <span class="label label-success success1">Success</span>
                                        </div> -->
                                        <!-- 登录&注册按钮 -->
                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <button type="sumbit" class="btn btn-danger" value="注册/SignUp" id="register2">注册/SignUp</button>
                                                <a href="/login" class="btn btn-default" value="登录/Login" id="login2">登录/Login</a>
                                            </div>
                                        </div>
                                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/javascripts/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/newsindex.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
</body>

</html>
