


/*购物*/
.s-shop{
    display: none;
}
.s-xmancard-shopping {
    position: relative;
    padding: 4px 0 14px 14px;
}
.s-xmancard-shopping .shopping-card-wrap .shopping-card-item {
    float: left;
    width: 202px;
    overflow: hidden;
    margin-left: 11px;
    margin-top: 21px;
    _display: inline;
}
.s-xmancard-shopping .shopping-card-wrap .shopping-card-item .shopping-card-imgwrap {
    position: relative;
    width: 202px;
    height: 123px;
}
xmancard-shopping .shopping-card-wrap .shopping-card-item .img {
    display: inline-block;
    text-decoration: none;
    width: 202px;
    height: 123px;
}
.s-xmancard-shopping .shopping-card-wrap .shopping-card-item img {
    width: 202px;
    height: 123px;
}
.s-xmancard-shopping .shopping-card-wrap .shopping-card-item .shopping-card-imgwrap .mask {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 24px;
    overflow: hidden;
    width: 100%;
    line-height: 24px;
    font-size: 13px;
    color: #fff;
    text-align: left;
    background-image: -webkit-gradient(linear,left top,left 100%,from(rgba(0,0,0,0.5)),to(rgba(0,0,0,0.5)));
    background-image: -moz-linear-gradient(rgba(0,0,0,0.5) 0,rgba(0,0,0,0.5) 100%);
    background-image: -ms-linear-gradient(rgba(0,0,0,0.5) 0,rgba(0,0,0,0.5) 100%);
    background-image: -o-linear-gradient(rgba(0,0,0,0.5) 0,rgba(0,0,0,0.5) 100%);
    background-image: linear-gradient(rgba(0,0,0,0.5) 0,rgba(0,0,0,0.5) 100%);
   }
   .s-xmancard-shopping .shopping-card-wrap .shopping-card-item .shopping-card-imgwrap .mask .salenum {
    text-decoration: none;
    margin-left: 10px;
}
.s-xmancard-shopping .shopping-card-wrap .shopping-card-item .shopping-card-text {
    height: 21px;
    line-height: 21px;
    margin-top: 7px;
}
.s-xmancard-shopping .shopping-card-wrap .shopping-card-item .shopping-card-title {
    float: left;
    display: inline-block;
    max-width: 135px;
    font-size: 14px;
    color: #333;
    _width: 135px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
}
.s-xmancard-shopping .shopping-card-wrap .shopping-card-item .shopping-card-price {
    float: right;
    margin-right: -15px;
    font-size: 18px;
    color: #e00;
    font-family: Arial;
    display: inline-block;
    width: 65px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.s-xmancard-shopping .shopping-card-wrap .shopping-card-item .shopping-card-price .price-sign {
    padding-right: 3px;
}
.s-xmancard-shopping .s-shopping-wrapper .sp-line {
    display: none;
    width: 842px;
    margin-left: 11px;
    _margin-left: -15px;
    padding-top: 15px;
    margin-bottom: 11px;
    font-size: 0;
}
.s-xmancard-shopping .shopping-card-wrap .shopping-card-item .shopping-card-text .shopping-card-title:hover {
    text-decoration: underline;
    color: #077fff;
}